@{
    ViewData["Title"] = "TunnelMiner startpagina";
}

<div class="text-center">
    <h1 class="display-4">Welkom op de website van de TunnelMiner-game!</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-area="Gamer" asp-controller="Home" asp-action="Index">Play!</a>
    </div>  
}
