@model ActionCommandGame.Model.Player


@if (@Model == null)
{
    <h1>Gamer page!</h1>
    <div class="row">
        <div class="col-md-4">
            <form  method="post">
                <h4>Choose a new username.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Make player</button>
            </form>
        </div>
    </div>
}
else
{
    
}